@font-face {
  font-family: "Airwaves";
  src: url("/fonts/Airwaves-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bourton";
  src: url("/fonts/bourtonlinebold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
